h1 {
    text-align: center;
    font-weight: bold;
}


table.center {
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 100px;
    width: 100px;
    text-align: center;
}

table .middle {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.bottomb {
    border-bottom: 1px solid black;
}